<!--
<div class="page-header">
    <h1>Welcome<%// if(user!=null or user==""){ %>
        <%= user %>
        <%// } %>
    </h1>
</div>
-->

<div id="content">
<div class="fb-like" data-href="https://ibetu.us/" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial"></div>
    <div id="popular">
        <div id="po_title"></div>
        <div id="po1" class="style"><h2>NBA火箭隊戰熱火隊</h2>   <h2>23890P</h2></div>
        <div id="po2" class="style"><h4>NBA火箭隊戰熱火隊</h4><h5>火箭隊 VS 熱火隊</h5> <h2>23890P</h2>
                                                  </div>
                                                  
        <div id="po3" class="style_b"><h4>NBA火箭隊戰熱火隊</h4><h5>火箭隊 VS 熱火隊</h5>   <h2>23890P</h2></div>
        <div id="po4" class="style"><h4>NBA火箭隊戰熱火隊</h4><h5>火箭隊 VS 熱火隊</h5>   <h2>23890P</h2></div>
        <div id="po5" class="style"><h3>NBA火箭隊戰熱火隊</h3>   <h2>23890P</h2></div>
        
    </div>
    
    <div id="latest">
        <div id="la_title" ></div>
        <div id="la1" class="style"><h4>NBA火箭隊戰熱火隊</h4><h5>火箭隊 VS 熱火隊</h5>   <h2>23890P</h2></div>
        <div id="la2" class="style_b"><h4>NBA火箭隊戰熱火隊</h4><h5>火箭隊 VS 熱火隊</h5>   <h2>23890P</h2></div>
        <div id="la3" class="style"><h4>NBA火箭隊戰熱火隊</h4><h5>火箭隊 VS 熱火隊</h5>   <h2>23890P</h2></div>
        <div id="la4" class="style"><h4>NBA火箭隊戰熱火隊</h4><h5>火箭隊 VS 熱火隊</h5>   <h2>23890P</h2></div>
        <div id="la5"class="style_b"><h4>NBA火箭隊戰熱火隊</h4><h5>火箭隊 VS 熱火隊</h5>   <h2>23890P</h2></div>
        <div id="la6" class="style"><h4>NBA火箭隊戰熱火隊</h4><h5>火箭隊 VS 熱火隊</h5>   <h2>23890P</h2></div>
    </div>

    <div style="clear:both;"></div>
        
</div>  
